/******************************************************************************
 *
 * Footer
 *
 ******************************************************************************/

.footer {

    display: flex;

    align-items: center;

    gap: var(--space-3);

    height: 100%;

    padding-inline: var(--space-5);

}